In [30]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib.pyplot as plt
import datetime
%matplotlib inline
pd.set_option('display.max_columns', 500)

import datetime

from __future__ import division

import seaborn as sns

from sklearn import linear_model

In [31]:
DT_pred = pd.read_csv('predictions/DT_prediction_422.csv')

In [32]:
LR_pred = pd.read_csv('predictions/LR_prediction_422.csv')

In [33]:
DT_pred.head()

   tollgate_id                                time_window  direction  volume
0            1  [2016-10-18 08:00:00,2016-10-18 08:20:00)          0      43
1            1  [2016-10-19 08:00:00,2016-10-19 08:20:00)          0      44
2            1  [2016-10-20 08:00:00,2016-10-20 08:20:00)          0      43
3            1  [2016-10-21 08:00:00,2016-10-21 08:20:00)          0      37
4            1  [2016-10-22 08:00:00,2016-10-22 08:20:00)          0      43

In [34]:
DT_LR_pred = DT_pred.copy()
DT_LR_pred['volume'] = np.array([0] * len(DT_LR_pred))

In [35]:
lr_pred = LR_pred.sort(columns='time_window')['volume'].tolist()
dt_pred = DT_pred.sort(columns='time_window')['volume'].tolist()

C:\Users\THINKPAD\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':
C:\Users\THINKPAD\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

In [36]:
print np.corrcoef(lr_pred, dt_pred)

[[ 1.          0.87890595]
 [ 0.87890595  1.        ]]

In [37]:
print lr_pred[:10]
print dt_pred[:10]
print ((np.array(lr_pred) + np.array(dt_pred)) / 2)[:10]

[31L, 79L, 121L, 87L, 95L, 31L, 95L, 79L, 128L, 87L]
[43L, 108L, 144L, 118L, 112L, 43L, 112L, 108L, 144L, 118L]
[  37.    93.5  132.5  102.5  103.5   37.   103.5   93.5  136.   102.5]

In [38]:
DT_LR_pred['volume'] = (np.array(lr_pred) + np.array(dt_pred)) / 2

In [39]:
DT_LR_pred.to_csv("predictions/DT_LR_pred_422.csv", index=False)

In [40]:
DT_LR_pred = pd.read_csv("predictions/DT_LR_pred_422.csv")

In [41]:
DT_LR_pred

     tollgate_id                                time_window  direction  volume
0              1  [2016-10-18 08:00:00,2016-10-18 08:20:00)          0    37.0
1              1  [2016-10-19 08:00:00,2016-10-19 08:20:00)          0    93.5
2              1  [2016-10-20 08:00:00,2016-10-20 08:20:00)          0   132.5
3              1  [2016-10-21 08:00:00,2016-10-21 08:20:00)          0   102.5
4              1  [2016-10-22 08:00:00,2016-10-22 08:20:00)          0   103.5
5              1  [2016-10-23 08:00:00,2016-10-23 08:20:00)          0    37.0
6              1  [2016-10-24 08:00:00,2016-10-24 08:20:00)          0   103.5
7              1  [2016-10-18 08:20:00,2016-10-18 08:40:00)          0    93.5
8              1  [2016-10-19 08:20:00,2016-10-19 08:40:00)          0   136.0
9              1  [2016-10-20 08:20:00,2016-10-20 08:40:00)          0   102.5
10             1  [2016-10-21 08:20:00,2016-10-21 08:40:00)          0   140.0
11             1  [2016-10-22 08:20:00,2016-10-22 08:40:00)          0   103.5
12             1  [2016-10-23 08:20:00,2016-10-23 08:40:00)          0    93.0
13             1  [2016-10-24 08:20:00,2016-10-24 08:40:00)          0    37.0
14             1  [2016-10-18 08:40:00,2016-10-18 09:00:00)          0   102.5
15             1  [2016-10-19 08:40:00,2016-10-19 09:00:00)          0   132.0
16             1  [2016-10-20 08:40:00,2016-10-20 09:00:00)          0    85.5
17             1  [2016-10-21 08:40:00,2016-10-21 09:00:00)          0    43.5
18             1  [2016-10-22 08:40:00,2016-10-22 09:00:00)          0    89.5
19             1  [2016-10-23 08:40:00,2016-10-23 09:00:00)          0    96.5
20             1  [2016-10-24 08:40:00,2016-10-24 09:00:00)          0    86.0
21             1  [2016-10-18 09:00:00,2016-10-18 09:20:00)          0    89.5
22             1  [2016-10-19 09:00:00,2016-10-19 09:20:00)          0    43.5
23             1  [2016-10-20 09:00:00,2016-10-20 09:20:00)          0   129.0
24             1  [2016-10-21 09:00:00,2016-10-21 09:20:00)          0    96.5
25             1  [2016-10-22 09:00:00,2016-10-22 09:20:00)          0    86.0
26             1  [2016-10-23 09:00:00,2016-10-23 09:20:00)          0   133.5
27             1  [2016-10-24 09:00:00,2016-10-24 09:20:00)          0    96.5
28             1  [2016-10-18 09:20:00,2016-10-18 09:40:00)          0    89.5
29             1  [2016-10-19 09:20:00,2016-10-19 09:40:00)          0    45.0
..           ...                                        ...        ...     ...
390            3  [2016-10-23 17:20:00,2016-10-23 17:40:00)          1    99.5
391            3  [2016-10-24 17:20:00,2016-10-24 17:40:00)          1   127.5
392            3  [2016-10-18 17:40:00,2016-10-18 18:00:00)          1   101.0
393            3  [2016-10-19 17:40:00,2016-10-19 18:00:00)          1    42.0
394            3  [2016-10-20 17:40:00,2016-10-20 18:00:00)          1    90.0
395            3  [2016-10-21 17:40:00,2016-10-21 18:00:00)          1    42.0
396            3  [2016-10-22 17:40:00,2016-10-22 18:00:00)          1   101.0
397            3  [2016-10-23 17:40:00,2016-10-23 18:00:00)          1   126.0
398            3  [2016-10-24 17:40:00,2016-10-24 18:00:00)          1    99.5
399            3  [2016-10-18 18:00:00,2016-10-18 18:20:00)          1    91.0
400            3  [2016-10-19 18:00:00,2016-10-19 18:20:00)          1    99.5
401            3  [2016-10-20 18:00:00,2016-10-20 18:20:00)          1    91.5
402            3  [2016-10-21 18:00:00,2016-10-21 18:20:00)          1    41.5
403            3  [2016-10-22 18:00:00,2016-10-22 18:20:00)          1   127.5
404            3  [2016-10-23 18:00:00,2016-10-23 18:20:00)          1   101.0
405            3  [2016-10-24 18:00:00,2016-10-24 18:20:00)          1    41.0
406            3  [2016-10-18 18:20:00,2016-10-18 18:40:00)          1   149.5
407            3  [2016-10-19 18:20:00,2016-10-19 18:40:00)          1    90.0
408            3  [2016-10-20 18:20:00,2016-10-20 18:40:00)          1   104.5
409            3  [2016-10-21 18:20:00,2016-10-21 18:40:00)          1    94.5
410            3  [2016-10-22 18:20:00,2016-10-22 18:40:00)          1   146.5
411            3  [2016-10-23 18:20:00,2016-10-23 18:40:00)          1    41.0
412            3  [2016-10-24 18:20:00,2016-10-24 18:40:00)          1    89.0
413            3  [2016-10-18 18:40:00,2016-10-18 19:00:00)          1    94.5
414            3  [2016-10-19 18:40:00,2016-10-19 19:00:00)          1   104.5
415            3  [2016-10-20 18:40:00,2016-10-20 19:00:00)          1   150.0
416            3  [2016-10-21 18:40:00,2016-10-21 19:00:00)          1    94.5
417            3  [2016-10-22 18:40:00,2016-10-22 19:00:00)          1    89.5
418            3  [2016-10-23 18:40:00,2016-10-23 19:00:00)          1    41.0
419            3  [2016-10-24 18:40:00,2016-10-24 19:00:00)          1   104.5

[420 rows x 4 columns]